@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family: 'night_machineregular';
    src: url('../../public/fonts/night_machine-webfont.woff2') format('woff2'),
         url('../../public/fonts/night_machine-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*
{
    font-family: 'Roboto', sans-serif;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: auto;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
    color: #9b9b9b;   
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-image: url("../../public/img/space.png");
    background-position: center;
    background-size: auto;
}

ul {
    list-style: none;
}

body, h1, ul {
    margin: 0;
    padding: 0;
}

header, nav {
    overflow: visible;
}

header {
    position: fixed;
    height: 100px;
    background-color: black;
    width: 100%;
    z-index: 2;
}

header>nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-cat {
    width: 75%;
    position: relative;
}

nav .brandlogo {
    height: 80%;
    margin-left: 15px;
}

.nav-cat ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#separator {
    height: 35px;
    width: 2px;
    background-color: #9b9b9b;
}

.nav-cat >ul>div {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    cursor: pointer;
    background: inherit;
}

.nav-cat >ul>div:hover {
    animation: 0.2s hover;
    background: linear-gradient(to bottom, #9b9b9b 0%,#afafaf 50%,#9b9b9b 100%);
}

.active {
    background: linear-gradient(to bottom, #9b9b9b 0%,#afafaf 50%,#9b9b9b 100%) !important;
}

.nav-cat > ul li, .nav-cat >ul span {
    color:#afafaf;
    mix-blend-mode: difference;
    font-size: 2em;
}

header>nav>span {
    height: 60px;
    width: 60px;
    position: relative;
    margin-right: 3%;
}

a
{
    color: white;
    text-decoration: none;
}

header nav a
{
    font-size: 25px;
}

header nav a:hover
{
    color: #352eb3;
}

main
{
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    color: white;
}

.container-landing {
    width: 96%;
    margin: auto;
}

footer
{
    margin-top: 80px;
    height: 200px;
    width: 100%;
    background-color: black;
}

h1
{
    letter-spacing: 3px;
    font-family: 'night_machineregular';
    font-size: 50px;
    text-align: center;
    margin-top: 5vh;
}

.main-section
{
    margin:auto;
    margin-top: 5.7vh;
}

.main-section h2
{
    font-size: 35px;
}

.article-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
    background-color: lightslategray;
    border-radius: 10px;
    margin-top: 5.7vh;
}

.landing-article {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
}

.landing-article h3
{
    margin: auto;
    font-size: 30px;
}

.landing-article p
{
    font-size: 14px;
    margin-top: 5px;
    min-height: 38px;
}

.row {
    display: flex;
}

.article-command {
    padding: 10px 0;
    padding-bottom: 20px;
    margin: 0 22px;
    align-items: center;
}

.landing-article span
{
    font-weight: bold;
    font-size: 24px;
}

.product-image
{
    margin-top: 5vh;
    height: 250px;
    width: 30vw;
}

.button-link
{
    background-color: black;
    padding: 8px 35px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
}

.button-link:active
{
    background-image: url("../../public/img/space.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.article-show-container
{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}

.article-show-container img
{
    height: 440px;
    width: 360px;
    margin-right: 40px;
}

.article-show-container article p
{
    font-size: 25px;
}

.article-show-container article span
{
    font-size: 35px;
    font-weight: bold;
}


@media (max-width: 992px) {
    .nav-toggle {
        background: transparent;
        border: 0;
        display: block;
        color: #fff;
        margin-right: 7%;
    }

    .nav-cat {
        /* display: none; */
        position: absolute;
        top: 100px;
        width: 100%;
        z-index: 10;
        height: 0px;
        overflow: hidden;
        transition: height 0.3s ease-in;
    }

    .nav-cat ul {
        flex-direction: column;
        background-color: #000;
    }

    .nav-cat ul span{
        display: none;
    }

    .nav-cat>ul div {
        height: auto;
        padding: 1rem 0;
        width: 100%;
    }

    .product-image {
        width: 70vw;
    }

    .nav-cat>ul div li {
        font-size: 1.4em;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 64px;
    }

    .container-landing {
        width: 75%;
    }

    .product-image {

    }

    header {
        box-shadow: 0px 5px 5px 0 black;
    }

    .nav-toggle {
        display: none;
    }

    .article-container {
        flex-direction: row;
        align-items: normal;
    }

    .landing-article {
        margin: 0;
        width: 100%;
        padding: 2vh 2vw;
        justify-content: space-between;
    }

    .landing-article h3 {
        margin: 0;
        font-size: 60px;
    }

    .landing-article p {
        margin-top: 0vh;
        text-align: left;
        font-size: 26px;
    }

    .article-command {
        justify-content: space-between;
    }

    .article-command span {
        font-size: 40px;
    }

    .product-image {
        margin: 2vh 2vw;
        height: 30vh;
    }
}




/* ARTICLE */

.product-desc>p {
    text-align: center;
}

.product-command {
    justify-content: space-between;
}

/* META INDEX */


table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* META EDIT */

form div {
    display: flex;
    flex-direction: column;
}

form div label {
    text-align: center;
}

@media (max-width: 992px) {
    .container-metaedit {
        width: 90%;
        margin:auto;
    }
}
@media (min-width: 992px) {
  .container-metaedit {
    width: 50%;
    margin: auto;
  }  
}


.container-metaedit .button-link {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    margin-top: 1vh;
    text-align: center;
}

.form-submit-btn {
    background-color: #000;
    color: white;
    border: 0;
    display: flex;
    justify-content: center;
    padding: 8px 35px;
    /* margin-left: 15px; */
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    margin: auto;
    margin-top: 1vh;
}