{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
<h1>Modifier le produit</h1>

<div class="container-metaedit">
        

        {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('article_index') }}" class="button-link">Retour à l'administration</a>

        {{ include('article/_delete_form.html.twig') }}    
</div>

{% endblock %}
