{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
<div class="container-metaedit">
    <h1>Créer un nouveau produit</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}" class="button-link">Retour à l'administration</a>
</div>
{% endblock %}
